.App {
  /* text-align: center; */
  border: 2px solid red;
  /* display: grid; */
  height: 100vh;
  width: 100%;
}

.theme-btn {
  padding: 0.5em 1.4em;
  border: 2px solid #00df8a;
  color: #00df8a;
  border-radius: 0.4em;
  font-size: 0.94rem;
  transition: all 400ms ease;
  font-weight: bold;
}

.theme-btn:hover,.theme-btn:focus {
  background-color: #00df8a;
  color: white;
}

.dark {
  background-color: #1a1a1a;
  box-shadow: 2px 4px 5px #acacac;
  color: white;
}

.light {
  background-color: #f7f7f7;
  box-shadow: 2px 4px 5px #dedede;
  color: black;
}



.container {
  display: grid;
  grid-template-columns: 15% auto;
  grid-gap: 0.8em;
}

